<!doctype html>
<title>Cortex :: BCI</title>
<link href='https://fonts.googleapis.com/css?family=Aleo' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Quando' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<table id="header"><tr>
  <td id="main_header">CORTEX
  <td id="secondary_header">BRAIN-COMPUTER<br>INTERFACE
</td></table>
<div id="credits">By Michael Glukhman &copy; 2020</div>
<div id="content">
{% block header %}{% endblock %}
{% block content %}{% endblock %}
</div>
